<div class='row'>
  <div class='content col-md-offset-4 col-md-4'>
    <h2>Accepting an invitation</h2>
    <p>
      You are accepting an invitation to join the <%= @invitation.account_name %>.
    </p>
    <% if !user_signed_in? %>
      <%= render "anonymous_accept", :invitation => @invitation %>
    <% else %>
      <%= render "user_accept", :invitation => @invitation %>
    <% end %>
  </div>
</div>